*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: avenir;
    background-color: black;
    color: rgb(200, 200, 200);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

a{
    color: rgb(200, 200, 200);
    text-decoration: none;
    margin: 0 5%;
}

.angle-bottom-left{
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: -13px;
    margin-left: -9px;
}

.angle-top-right{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -13px;
    margin-right: -9px;
}


/*** PARTIE AVEC LE LOGO ***/
#body-header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 30vw;
    background-color: black;
    position: fixed;
    left: 0;
    z-index: 99;
}

#body-header img{
	max-width: 60%;
    max-height: 60%;
}

/*** PARTIE BARRE DE NAVIGATION ***/
#nav-bar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 10vh;
    width: 70vw;
    background-color: black;
    position: fixed;
    right: 0;
    z-index: 99;
}

.navbar-container-link{
    display: flex;
    flex-direction: row; /* row-reverse en tablette / ordinateur */
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end; 
    width: 100%;
}

.link-responsive-none{
    display: none;
}

.ligne-horizontale{
    background-color: rgb(200, 200, 200);
    width: 25%;
    height: 2.5px;
}

/*** PARTIE AVEC LES DIFFÉRENTES SECTIONS ***/
/** Mettre en forme la partie "main" **/
main{
    width: 100vw;
    padding: 0 7.5vw;
}

main section {
    padding-top: 10vh;
    width: 100%;
}

/** Mettre en forme la partie "Header" avec les titres des sections **/
.section-header{
    padding: 7.5%;
}

/* Cible les titres h2 des sections */
main h1, h2{
    font-size: 1.75em;
    text-transform: uppercase;
    color: #272128;
    -webkit-text-stroke: 1px rgb(225, 225, 225);
    -webkit-font-smoothing: antialiased;
}

/** Mettre en forme la partie "Article" avec le contenu des sections **/
.section-article{
    padding: 7.5%;
    background-color: rgb(30, 30, 30);
    position: relative;
}

/* Cible les titres h3 des ressources */
main h3{
    padding-bottom: 5%;
}

/* Cilbe les liens "télécharger" de la section "ressources" */
.ressources-container-lien{
    padding: 5% 0% 0% 0%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.ressources-lien{
    display: block;
}

/** Mettre en forme la partie "Footer" avec la ligne verticale des sections **/
.section-footer{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 7.5%;
}

/* Cible les titres des lignes "scroll" */
main h4{
    font-size: 0.75em;
    padding: 5px;
    background-color: black;
    z-index: 1;
}

/* Cible les lignes verticales "scroll" */
.ligne-verticale-scroll{
    background-color: rgb(200, 200, 200);
    width: 2.5px;
    height: 10vh;
    position: absolute;
}


/*** PARTIE FOOTER ***/
#body-footer{
    width: 100vw;
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(17, 17, 17);
    color: rgb(150, 150, 150);
}

/*** RESPONSIVE TABLETTES ***/
@media screen and (min-width: 768px) and (max-width: 1024px){
    main h1, h2{
        font-size: 3em;
        -webkit-text-stroke: 2px rgb(200, 200, 200);
        color: black;
    }

    main section {
        padding-top: 15vh;
    }

    .section-header{
        width: 80%;
    }

    .ligne-horizontale{
        width: 10%;
    }
}

/*** RESPONSIVE ORDINATEURS ***/
@media screen and (min-width: 1024px){
    /*** PARTIE AVEC LE LOGO ***/
    #body-header{
        width: 20vw;
        height: 20vh;
        /* border-right: 1px solid rgb(20, 20, 20); */
    }

    #body-header img{
        max-width: 50%;
        max-height: 50%;
    }

    /*** PARTIE BARRE DE NAVIGATION ***/
    #nav-bar{
        width: 20vw;
        top: 20vh;
        height: 75vh;
        left: 0;
        flex-direction: row-reverse;
        padding-top: 5%;
        /* border-right: 1px solid rgb(20, 20, 20); */
    }

    .navbar-container-link{
        flex-direction: row-reverse;
        transition: transform 0.5s;
    }

    .link-responsive-none{
        display: inline-flex;
    }

    .link-instagram{
        margin-top: 40%;
    }

    .ligne-horizontale{
        background-color: white;
        width: 20%;
        height: 2px;
        margin-left: -7.5%;
    }

    .navbar-container-link:hover{
        transform: translateX(7.5%);
    }


    /*** PARTIE AVEC LES DIFFÉRENTES SECTIONS ***/
    /** Mettre en forme la partie "main" **/
    main{
        width: 80vw;
        padding: 0 5vw;
        right: 0;
        position: absolute;
        }

    main section {
        margin: auto;
        height: 100vh;
        position: relative;
        margin: 0 auto;
    }

    section p{
        font-size: 0.85em;
    }

    main h1, h2{
        font-size: 3em;
        -webkit-text-stroke: 2px rgb(200, 200, 200);
        color: black;
    }

    .section-header{
        padding: 0%;
        width: 55%;
        text-align: right;
        position: absolute;
        z-index: 1;
    }

    .section-article{
        margin-top: 4%;
        width: 50%;
        padding: 5% 5% 5% 10%;
        position: absolute;
        right: 0;
    }

    .section-footer{
        width: 100%;
        padding: 2.5%;
        position: absolute;
        bottom: 0;
    }

    /*** PARTIE FOOTER  ***/
    #body-footer{
        height: 5vh;
        width: 20vw;
        bottom: 0;
        position: fixed;
        font-size: 0.75em;
        background-color: black;
        text-align: center;
        color: rgb(150, 150, 150);
        /* border-right: 1px solid rgb(20, 20, 20); */
    }
}